.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  column-gap: 8px;
}

.product__box {
  text-align: center;
  margin: 8px auto;
  background: #ebebeb;
}

.product__info {
  display: flex;
  flex-direction: column;
}

.product__image__home{
  position: relative;
}

.badge__image__discount {
  position: absolute;
  right: 0;
  margin: 0;
  padding: 2px 0.4rem;
  background-color: #212529;
  color: #fff;
}
