.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 8px 0px;
  font-size: 2.8rem;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__actions span:first-child {
  margin-right: 16px;
}

.container {
  width: 96%;
  margin: 0 auto;
  max-width: 1024px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  column-gap: 8px;
}

.product__box {
  text-align: center;
  margin: 8px auto;
  background: #9b9494;
}

.product__info {
  display: flex;
  flex-direction: column;
}

.product__price--from {
  text-decoration: line-through;
}
